.panel-heading{
    text-align:center;
    font-weight: bold;
}

.linha{
    margin-top:1%;
}

.primeiro_titulo{
    font-size:18px;
    text-align:center;
    font-weight: bold;
    padding-bottom:1%;
    color:rgb(207, 207, 207);
}

.titulo{
    border-style:solid;
    border-bottom:none;
    border-right:none;
    border-left:none;
    border-color:#e1e1e1;
    font-size:18px;
    text-align:center;
    font-weight: bold;
    padding-bottom:2%;
    padding-top:2%;
    color:rgb(207, 207, 207);
}

.coluna_centro{
    border-style:solid;
    border-top:none;
    border-bottom:none;
    border-color:#e1e1e1;
}

.enviar{
    margin-top:3%;
}

.sucesso{
    text-align:center;
    margin-top:3%;
}

.cliente_body{
    margin-top:1%;
    margin-bottom:1%;
    margin-right:1%;
    margin-left:1%;
}

.cores{
    text-align:center;
}